<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="/static/css/global.css" media="screen" />

<script type="text/javascript" src="/static/js/index.js"></script>

<!--Adding some style to table(OPTIONAL)-->
<style type="text/css">
    th:tr {
        color: blue;

    }

    tr:nth-of-type(2n) {
        border: 1px solid black;
        background-color: rgba(150, 150, 150, 0.5);

    }

    td {
        padding: 8px 8px;
        border: 1px solid black;
    }
</style>

<body>

    <h1>Plant overview</h1>

    <table style="margin-left: 20px;">
        <!-- Table headers -->
        <th>
            <tr style="color: green; ">
                <td>Serial Number</td>
                <td>plant mac</td>
                <td>plant name</td>
                <td></td>

            </tr>
        </th>

        <!-- For loop logic of jinja template -->
        {%for i in range(0, len)%}

        <!-- table rows -->
        <tr>
            <td>{{i}}</td>
            <td style="display: none;">{{plants[i][0]}}</td>
            <td>{{plants[i][2]}}</td>
            <td></td>
            <td>
                <button class="btn_details">details</button>
                <button class="btn_edit">edit</button>
                <button class="btn_delete">delete</button>
            </td>

            {%endfor%}

        </tr>

    </table>


</body>

</html>