<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="/static/css/global.css" media="screen" />
<script type="text/javascript" src="/static/js/details.js"></script>

<!-- Adding some style to table (OPTIONAL) -->
<style type="text/css">
    th:tr {
        color: blue;

    }

    tr:nth-of-type(2n) {
        border: 1px solid black;
        background-color: rgba(150, 150, 150, 0.5);

    }

    td {
        padding: 8px 8px;
        border: 1px solid black;
    }
</style>

<body>

    <h1>Sensor data</h1>

    <table style="margin-left: 20px;">
        <!-- Table headers -->
        <th>
            <tr style="color: green; ">
                <td>Nb</td>
                <td>Area</td>
                <td>Time</td>
                <td>Type</td>
                <td>Value</td>
                <td>Unit</td>
            </tr>
        </th>

        <!-- For loop logic of jinja template -->
        {%for i in range(0, len)%}

        <!-- table rows -->
        <tr>
            <td>{{i}}</td>
            <td>{{plants[i][0]}}</td>
            <td>{{plants[i][4]}}</td>
            <td>{{plants[i][3]}}</td>
            <td>{{plants[i][1]}}</td>
            <td>{{plants[i][2]}}</td>
            {%endfor%}

        </tr>

    </table>
    <button id="btn_back" class="button">Back to main</button>

</body>

</html>